   <form >
        <div class="profile__info-line">
            <label class="profile__label">Старый пароль</label>
            {{> InputProfile placeholder="" type="password" value="secret" disabled="false" }}
        </div>
        <div class="profile__info-line">
            <label class="profile__label">Новый пароль</label>
            {{> InputProfile placeholder="" type="password" value="secret" disabled="false" }}
        </div>
             <div class="profile__info-line">
            <label class="profile__label">Повторите новый пароль</label>
            {{> InputProfile placeholder="" type="password" value="secret" disabled="false" }}
        </div>
    </form>