<div class="tooltip-attach">
    {{> TooltipAttachElement src="../../../public/images/photoOrVideo.png" alt="фото и видео" text="Фото или Видео" }}
    {{> TooltipAttachElement src="../../../public/images/file.png" alt="файл" text="Файл" }}
    {{> TooltipAttachElement src="../../../public/images/file.png" alt="Локация" text="Локация" }}
</div>  
