<main class="profile">
    {{> LeftNavigate}}
    <div class="profile__main">
        {{> Avatar src="../../../public/images/avatar-example.png" class="avatar_big profile__avatar" }}
        <p class="profile__name">Иван</p>
        {{#if (isPasswordChange editProfile)}}
            {{> FormProfilePasword}}
        {{else}}
            {{> FormProfile}}
        {{/if}}
        <div class="profile__actions">
            {{#if (isProfileType editProfile)}}
            {{>Link text="Изменить данные" data-action="change-profile" data-page="profile" class="link profile__link"}}
            {{>Link text="Изменить пароль" data-action="change-password" data-page="profile" class="link profile__link"}}
            {{>Link text="Выйти" data-action="change-profile" data-page="profile" class="link profile__link-exit"}}
            {{else}}
             {{> ButtonApperance class="button__apperance" text="Сохранить" }}
            {{/if}}
        </div>
    </div>
</main>
