
@import url(../vendors/normalize.css);


@grey: #FBFBFB;
@border-panel: 1px solid #EAEAEA;
@input-background: #EFEFEF;
@font-color-grey: #999999;

@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Regular.woff2) format('woff2'), url(../../public/fonts/Inter/Inter-Regular.woff) format('woff');
  font-style: normal;
  font-weight: 400;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Bold.woff2) format('woff2'), url(../../public/fonts/Inter/Inter-Bold.woff) format('woff');
  font-style: normal;
  font-weight: 700;
}

@font-face {
  font-family: 'Inter';
  src: url(./Inter/Inter-Black.woff2) format('woff2'), url(../../public/fonts/Inter/Inter-Black.woff) format('woff');
  font-style: normal;
  font-weight: 900;
}

.main-page {
  &__container{
    display: grid;
    grid-template-columns: 310px 1fr;
  }
}

.left-panel{ 
  height: 100vh;
  background-color: @grey;
  border: @border-panel;
  overflow-y: auto;
}

.header-left-panel {
  display: flex;
  flex-direction: column;
  gap: 23px;
  padding: 21px 10px 14px 10px;
}


.input { 
  background-color: @input-background;
  border: 0;
  &:hover,
  &:focus-visible {
    outline: 1px solid var(--primary-color);
  }
}

.input-search {
  height: 32px;
  padding-right: auto;
  width: 100%;
  text-align: center;
  border-radius: 5px;
}

.link {
  color: inherit;
  text-decoration: none;  

}

.link:hover {
  opacity: 0.8;
}

.link-profile {
  color: @font-color-grey;
  align-self: end;
}

.chat{ 
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}

.chat-participant{
  border-top: @border-panel;
  padding: 12px 10px;
}

.avatar{
  object-fit: cover;
  object-position: top center;
  border-radius:50%;
  width: 47px;
  height: 47px;
}