<div class="chat-participant">
    {{> Avatar}}
    <div class="chat-participant__message">
        <p class="chat-participant__name">Андрей</p>
        <p class="chat-participant__text-message">Друзья, у меня для вас особенный выпуск новостей!</p>
    </div> 
    <div class="chat-participant__time">
        {{>Time}}
        {{>CounterMessage}}
    </div>  
</div>