<div class="chat-participant">
    {{> Avatar}}
    <div class="chat-participant__message">
        <p class="chat-participant__name">Андрей</p>
        <p class="chat-participant__text-message">Изображение</p>
    </div> 
    <div class="chat-participant__time">
        <p class="chat-participant__time-message">10:49</p>
        {{>CounterMessage}}
    </div>  
</div>