<header class="header-chat">
    <div class="header-chat__name-block">
     {{> Avatar src="../../../public/images/avatar-example.png" class="avatar_small"  }}
        <p class="header-chat__name">Вадим</p>
    </div>
     {{> SvgIcon path="../../../public/svg/more-svg.svg" height="15px" name="скребка" }}
</header>
