<div class="tooltip-attach">
    {{> TooltipAttachElement src="../../../public/images/add_user.png" alt="Добавить пользователя" text="Добавить пользователя" }}
    {{> TooltipAttachElement src="../../../public/images/delete-user.png" alt="Удалить пользователя" text="Удалить пользователя" }}
</div>  
