   <form >
        <div class="profile__info-line">
            <label class="profile__label">Почта</label>
            {{> InputProfile name="email" placeholder="" value="pochta@yandex.ru" disabled="false" }}
        </div>
        <div class="profile__info-line">
            <label class="profile__label">Логин</label>
            {{> InputProfile name="login" placeholder="" value="ivanivanov" disabled="(isProfileType editProfile)" }}
        </div>
        <div class="profile__info-line">
            <label class="profile__label">Имя</label>
            {{> InputProfile name="first_name" placeholder="" value="Иван" disabled="(isProfileType editProfile)" }}
        </div>
        <div class="profile__info-line">
            <label class="profile__label">Фамилия</label>
            {{> InputProfile name="second_name" placeholder="" value="Иванов" disabled="(isProfileType editProfile)" }}
        </div>
        <div class="profile__info-line">
            <label class="profile__label">Имя в чате</label>
            {{> InputProfile name="display_name" placeholder="" value="Иван" disabled="(isProfileType editProfile)" }}
        </div>
        <div class="profile__info-line">
            <label class="profile__label">Телефон</label>
            {{> InputProfile name="phone" placeholder="" value="+7 (909) 967 30 30" disabled="(isProfileType editProfile)" }}
        </div>
    </form>
    