<header class="header-chat">
    <div class="header-chat__name-block">
     {{> Avatar src="../../../public/images/avatar-example.png" class="avatar_small"  }}
        <p class="header-chat__name">Вадим</p>
    </div>
    <div class="header-chat__user">
     {{> ButtonIcon class="button-icon-add-user" data-page="mainPaige" }}
    </div>
</header>
