<div class="header-chat">
    <div class="header-chat__name-block">
        {{> Avatar}}
        <p class="header-chat__name">Вадим</p>
    </div>
          <img src="../../../public/svg/more-svg.svg" alt="меню профиль">

</div>